.persone-block {
    &__title {
        text-align: center;
        text-transform: uppercase;
    }
    &__wrap {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        &_info {
            flex: 0 0 50%;
            &-title {
                margin: 0;
            }
        }
        &_image {
            flex: 0 0 50%;
            img {
                max-width: 100%;
            }
        }
    }
}