@import "var";
@import "normalize";
@import "header";
@import "navigation";
@import "news-block";
@import "calendar-block";
@import "persone-block";
@import "footer";
@import "news-page";
@import "posts-views";
@import "slider";

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=cyrillic,cyrillic-ext');

body {
    font-family: Roboto;
}

.padding {
  padding: 0 15px;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: 0;
  margin-left: 0;
}

.block {
    padding: 20px 0;
}

.callback-btn {
    text-transform: uppercase;
    font-size: 13px;
    text-decoration: none;
    background-color: red;
    color: #ffffff;
    padding: 10px;
    display: block;
}