<section class="index-wrapp">
    <%- include('./vidget/slider'); -%>
    <%- include('./vidget/news'); -%>
    <%- include('./vidget/persone'); -%>
    <%- include('./vidget/calendar'); -%>
</section>