        <footer class="footer">
            <div class="footer__wrap">
                <h3 class="footer__wrap_title">Адрес</h3>
                <ul class="footer__wrap_block">
                    <li class="footer__wrap_block-item">
                        <span>ул. Пушкина дом Колотушкина</span>
                    </li>
                </ul>
            </div>
            <div class="footer__wrap">
                <h3 class="footer__wrap_title">Телефоны</h3>
                <ul class="footer__wrap_block">
                    <li class="footer__wrap_block-item">
                        <a href="tel:+380675673384">+38 (067) 567-33-84</a>
                    </li>
                    <li class="footer__wrap_block-item">
                        <a href="tel:+380675673384">+38 (067) 567-33-84</a>
                    </li>
                </ul>
            </div>
            <div class="footer__wrap">
                <h3 class="footer__wrap_title">Меню</h3>
                <ul class="footer__wrap_block">
                    <li class="footer__wrap_block-item">
                        <a href="#">home</a>
                    </li>
                    <li class="footer__wrap_block-item">
                        <a href="#">blog</a>
                    </li>
                    <li class="footer__wrap_block-item">
                        <a href="#">news</a>
                    </li>
                </ul>
            </div>
        </footer>
        <script src="/js/jquery.min.js"></script>
        <script src="/libs/slick/slick.min.js"></script>
        <script src="/js/main.js"></script>
    </body>
</html>