<nav class="header__nav">
    <ul class="header__nav_wrapp">
        <li>
            <a href="#">home</a>
        </li>
        <li>
            <a href="#">blog</a>
        </li>
        <li>
            <a href="#">news</a>
        </li>
    </ul>
</nav>