<nav class="header__nav padding">
    <ul class="header__nav_wrapp">
        <li>
            <a href="#">home</a>
        </li>
        <li>
            <a href="blog">blog</a>
        </li>
        <li>
            <a href="news">news</a>
        </li>
    </ul>
</nav>