<% if (persone) { %>
    <div class="container">
        <section class="persone-block block">
            <h2 class="persone-block__title">
                Персона
            </h2>
            <div class="persone-block__wrap">
                <% persone.forEach(function (item) { %>
                <div class="persone-block__wrap_info">
                    <h3 class="persone-block__wrap_info-title"><%= item.title %></h3>
                    <p class="persone-block__wrap_info-body"><%= item.body %></p>
                </div>
                <div class="persone-block__wrap_image">
                    <% var img = '/image/slider/' + item.image %>
                    <img src="<%= img %>" alt="">
                </div>
                <% }); %>
            </div>
        </section>
    </div>
<% } %>