<div>
    <div class="slider">
        <div>
            <img src="/image/slider/1.jpg" alt="1">
        </div>
        <div>
            <img src="/image/slider/2.jpg" alt="2">
        </div>
        <div>
            <img src="/image/slider/3.jpg" alt="3">
        </div>
    </div>
</div>